html {
    font-size: 20px;
}

body {
    background-color: #ffffff;
    color: #1e1e1e;
    text-align-last: center;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    ruby-align: center;

}

a {
    color: rgb(23, 105, 177);
}
a:visited {
    color: rgb(22, 36, 189);
}
a:hover, a:active {
    color: #3e06c1;
}
table, tr, th, td, caption {
    border: 1px solid #000000fb;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
legend {
    font-size: 50px;
}